#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 2rem;
}

.left,
.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  width: 550px;
}

.wrapper {
  position: relative;
  background-color: #333f50;
}

.wrapper > button {
  position: absolute;
  top: 0;
  right: 0;
}

.middle {
  display: flex;
  flex-direction: column;
}

.middle button {
  margin: 0.5rem;
}

article {
  display: flex;
  align-items: flex-end;
  height: 6rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

article.active {
  border: 3px solid white;
}

article > input {
  width: 6rem;
}
